Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only

In [1]:
def list_onlyint(l):
    #l = [1,2,3,4,'ajay']
    l1 = [i for i in l if type(i) == int]
    return l1

In [2]:
list_onlyint([1,2,3,4,5,'hi',6,7,8,9,'ajay','singh','xyz'])

[1, 2, 3, 4, 5, 6, 7, 8, 9]


Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...

In [3]:
def add_indices(l):
    
    l1 = [i+l.index(i) for i in l if type(i) == int]
    return l1

In [4]:
add_indices([0,1,2,3,5,67, 'ajay'])

[0, 2, 4, 6, 9, 72]

Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.

In [5]:
def missing_num(l):
    
    for i in range(1,11):
        if i not in l:
            print('Missing No in the list is :',i)

In [6]:
missing_num([1,2,4,5,6,7,8,9,10])

Missing No in the list is : 3

Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.

In [9]:
import math
def volume_of_cone(r,h):
    pi = math.pi

    volume = (pi*(r**2)*h)/3
    volume_roundoff = round(volume,2)
    print(f'Volume of cone with radius {r} and height {h} is {volume_roundoff}')

In [10]:
volume_of_cone(2,3)

Volume of cone with radius 2 and height 3 is 12.57

This Triangular Number Sequence is generated from a pattern of dots that form a triangle. The first 5 numbers of the sequence, or dots, are: 
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the sequence.

In [11]:
def triangular_sequence(num):
    l = []
    n = 0
    for i in range(1,num+1):
        n += i
        l.append(n)

    print(f'No of dots in the triangle no. {num} is : {l[-1]}')

In [12]:
triangular_sequence(6)

No of dots in the triangle no. 6 is : 21